
<!-- ------------------------------------------- SECTION 1 -------------------------------------------- -->
<!-------------- HEADER SECTION list/grid ----------------------->

<h2 class="text-center pb-3 pt-3 text-danger">
  Menu Template
 </h2>

 <!-------------- First Header ----------------------->
 <h3 class="text-center pb-3 pt-4 text-secondary "> First Header outlet</h3>
 <div class="container-fluid">
<app-header></app-header>
 </div>
 <hr>

 <!-------------- Second Header ----------------------->
 <h3 class="text-center pb-3 pt-4 text-secondary "> Second Header outlet</h3>
 <div class="container-fluid">
<app-header2>

</app-header2>
 </div>
 <hr>

 <!-- ------------------------------------------- SECTION 2 -------------------------------------------- -->
  <!-------------- SLIDDER SECTION Home page ----------------------->

  <h2 class="text-center pb-3 pt-3 text-danger">
    slider Template
   </h2>

   <!-------------- First slider ----------------------->
<h3 class="text-center pb-3 pt-4 text-secondary "> First slider outlet</h3>
<div class="container-fluid">
<app-slider>
  
</app-slider>
</div>
<hr>
<!-------------- Second slider ----------------------->

<h3 class="text-center pb-3 pt-4 text-secondary"> Second slider  outlet</h3>
<div class="container-fluid">

</div>
<hr>





<!-- ------------------------------------------- SECTION 3 -------------------------------------------- -->

<!-------------- PRODUCT SECTION list/grid ----------------------->

<h2 class="text-center pb-3 pt-3 text-danger">
 Product Template
</h2>

<!-------------- First product  list/grid ----------------------->
<h3 class="text-center pb-3 pt-4 text-secondary "> First product outlet</h3>
<div class="container-fluid">
  <app-product>
  </app-product>
</div>
<hr>
<!-------------- Second product  list/grid ----------------------->

<h3 class="text-center pb-3 pt-4 text-secondary"> Second product outlet</h3>
<div class="container-fluid">
  <app-product2>
  </app-product2>
</div>
<hr>
<!-- ------------------------------------------- SECTION 4  -------------------------------------------- -->

<!--------------Login Page ----------------------->
<h2 class="text-center pb-3 pt-3  text-danger">
  Login page Tempate
</h2>

<!--------------First Login Page ----------------------->

<h3 class="text-center pb-3 pt-4  text-secondary"> Log In outlet 1</h3>
<div class="container-fluid">
  <app-login1>

  </app-login1>
</div>

<hr>

<!--------------Second Login Page ----------------------->

<h3 class="text-center pb-3 pt-4  text-secondary"> Log In outlet 2</h3>
<div class="container-fluid">
  <app-login2>

  </app-login2>
</div>

<hr>
<!-- ------------------------------------------- SECTION 5 -------------------------------------------- -->


<!--------------Footer Page ----------------------->
<h2 class="text-center pb-3 pt-3  text-danger">
  Footer page Tempate
</h2>

<!--------------First Footer Page ----------------------->


<h3 class="text-center pb-3 pt-4  text-secondary"> Footer outlet 1</h3>
<div class="container-fluid">
  <app-footer>

  </app-footer>
</div>

<hr>

<!--------------Second Login Page ----------------------->

<h3 class="text-center pb-3 pt-4  text-secondary"> Footer outlet 2</h3>
<div class="container-fluid">
  <app-footer1>

  </app-footer1>
</div>

<hr>
